doctype html
html(lang='en')
  head
    title Subscription Demo
    script(src='/static/dist/mongolisten.js', type='text/javascript')

  body
    h3 Hello subscription
    button#unsubscribe unsubscribe
    div#mongologs-wrapper
      p Mongo logs should be here..
